/* Navbar Links */
.nav-links::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #ff5a00;
  transition: width 0.2s ease-in-out;
}

.nav-links:hover::after, .nav-links.active::after {
  width: 100%;
}
/* Navbar Links */

/* Mobile Menu Links */
.mobile-menu-link {
  position: relative;
  transition: font-weight 0.2s ease;
}

.mobile-menu-link:hover {
  font-weight: bold;
}

.mobile-menu-link.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #ff5a00;
}
/* Mobile Menu Links */

.btn-shadow {
  box-shadow: rgb(217, 255, 231) 0px 1px 4px 0px, #97ffbc 0px 0px 0px 1px inset;
}

.icon-shadow {
  box-shadow: rgb(255, 195, 195) 0px 1px 4px 0px,
    rgb(255, 96, 96) 0px 0px 0px 1px inset;
}

.search-inp-shadow {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.hero-map {
  background-image: url("../images/hero.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
  margin-top: 6rem;
}

.small-summery {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.animate-hide {
  opacity: 0;
  transform: translateY(200px);
  transition: all 0.8s ease-out;
}

.animate-show {
  opacity: 1;
  transition: all 0.8s ease-out;
}

.cart-items-animate-hide {
  transform: translateX(1000px);
  transition: all 0.8s ease-out;
}

.cart-items-animate-show {
  transform: translateX(0px);
  transition: all 0.8s ease-out;
}

.fade-in-animation {
  opacity: 0;
  animation: fadeInSlideShow 0.8s ease forwards;
}

@keyframes fadeInSlideShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
