.btn-shadow {
  box-shadow: rgb(217, 255, 231) 0px 1px 4px 0px,
    rgb(151, 255, 188) 0px 0px 0px 1px inset;
}

.search-inp-shadow {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.hero-map {
  background-image: url("../images/hero.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
  margin-top: 6rem;
}

.animate-hide {
  opacity: 0;
  transform: translateY(200px);
  transition: all 0.8s ease-out;
}

.animate-show {
  opacity: 1;
  transition: all 0.8s ease-out;
}

.fade-in-animation {
  opacity: 0;
  animation: fadeInSlideShow 0.8s ease forwards;
}

@keyframes fadeInSlideShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}




